@model List<View.ViewModels.TarefaViewModel>

@{
    ViewBag.Title = "Área do professor";
}

<h2>
    Área do professor

    @Html.ActionLink("Nova Tarefa", "NovaTarefa", "Professor", null, null, null, null, new {@class = "btn btn-default"})
    @Html.ActionLink("Nova Questão", "NovaQuestao", "Professor", null, null, null, null, new {@class = "btn btn-default"})
</h2>
<hr/>
<h4>Tarefas criadas</h4>

<ul>
    @if (Model != null && Model.Any()) {

        for (var i = 0; i < Model.Count; i++) {
            <li>
                <span>Tarefa @(Model[i].Id)</span>
                <button class="btn btn-sm btn-default">Enviar à uma turma</button>
            </li>
        }
    }
</ul>